################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFirstProject/.vs/MyFirstProject/v17
/MyFirstProject/MyFirstProject/obj
/MyFirstProject/MyFirstProject/bin/Debug/net6.0
/MyFirstProject/.vs/MyFirstProject/DesignTimeBuild/.dtbcache.v2
/MyThirdProject/MyThirdProject/bin/Debug/net6.0/runtimes/win-x86/native
/MyThirdProject/MyThirdProject/bin/Debug/net6.0/runtimes/win-x64/native
/MyThirdProject/MyThirdProject/bin/Debug/net6.0
/MyThirdProject/MyThirdProject/obj
